#compiled stuff, don't want nun a dat#
#---------------------------------#
*.class
*.dll
*.exe
*.o
*.so
*.pyc
#---------------------------------#

#Packages#
#---------------------------------#
# it's better to unpack these files and commit the raw source
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
#---------------------------------#

#OS garbage#
#---------------------------------#
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
#---------------------------------#
